body {
    margin: 0;
    background-color: rgb(208, 255, 239);
}
.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.genius {
    display: grid;
    gap: 10px;
    /* grid-gap: 10px; */
    border: 1px solid white;
    background-color: white;
    border-radius: 100%;
    width: 700px;
    height: 700px;
    grid-template-areas: 'coner_green coner_red'
    'coner_yellow coner_blue';
}   

.green {
    grid-area: coner_green;
    background-color: green;
    border-top-left-radius: 100%;
}

.yellow {
    grid-area: coner_yellow;
    background-color: rgb(172, 172, 7);
    border-bottom-left-radius: 100%;
}

.red {
    grid-area: coner_red;
    background-color: red;
    border-top-right-radius: 100%;
}

.blue {
    grid-area: coner_blue;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.selected {
    opacity: 0.6;
}
